/* Estilo del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  /* Estilo del contenedor */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo del título */
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 0 #fff;
  }
  
  /* Estilo de los enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilo de la lista */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  /* Estilo de los enlaces de la lista */
  li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-shadow: 1px 1px 0 #333;
    transition: all 0.3s ease;
  }
  
  li a:hover {
    background-color: #0056b3;
  }
  